* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body,
html {
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

}
.video {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0ms;
  object-fit: cover;
}
.videobgbox:after {
  content: "";
  display: block;
  background: #0002;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.step,
.stepbox {
  width: 100%;
  height: 100%;
  position: relative;
  
}
.step {
  max-width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 1rem;
  
  
}
.step.current {
  display: block;
  
}
.inner_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 97%;
  padding: 25px;
  text-align: center;
}
.inner_wrapper {
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  padding: 1;
}
